.vscode/
.pytest_cache/

bin/
build/
CMakeFiles/
.exe/
data/
spike/
test/Testing/

*.fit
*.fits

CMakeCache.txt
src/tempCodeRunnerFile.cpp
data/frame.csv
workspace.code-workspace
**/tempCodeRunnerFile.*